Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^news/?$ app/controller/siteController.php?action=news [QSA,L]
RewriteRule ^about/?$ app/controller/siteController.php?action=about [QSA,L]
RewriteRule ^register/submit/?$ app/controller/siteController.php?action=registerSubmit [QSA,L]
RewriteRule ^register/check/?$ app/controller/siteController.php?action=registerCheck [QSA,L]
RewriteRule ^register/?$ app/controller/siteController.php?action=register [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]

# Post
RewriteRule ^posts/(\d+)/comment/add/?$ app/controller/postController.php?action=addComment&postID=$1 [QSA,L]
RewriteRule ^posts/(\d+)/?$ app/controller/postController.php?action=post&postID=$1 [QSA,L]
RewriteRule ^posts/?$ app/controller/postController.php?action=posts [QSA,L]
